.button {
  border-radius: 3px;
  padding: 10px 20px;
  color: rgba(255, 255, 255);
  background-color: #3cc93f;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 60px;
}
.button_error {
  display: none;
}

.contenedor {
  margin-top: -30px;
  width: 30%;
  height: auto;
  margin-left: 60%;
  display: grid;
  justify-content: center;
  background: rgba(171, 138, 202, 0.883);
  box-shadow: 1vw 1vw 1vw black;
  border-radius: 1.4vw;
  padding: 15px;
}

.img {
  background-image: url("../../img/form2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  position: absolute;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.form {
  margin-top: -150px;
  padding: 7vw 0vw;
  margin-bottom: auto;
}

.form_label {
  font-style: italic;
}

.all_inputs {
  margin-top: 100px;
  display: grid;
}
.regresar {
  padding: 10px;
  background-color: rgb(132, 198, 74);
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 15px;
  color: aliceblue;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}

.nombre {
  text-align: right;
  margin-top: -10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
}

.error {
  color: red;
  font-size: small;
  font-style: italic;
}
