.img {
  background-repeat: no-repeat;
  background-image: url("../../img/hermoso-retrato-mascota-perro_23-2149218452.jpg");
  background-size: cover;
  background-size: cover;
  position: absolute;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.global {
  position: absolute;
  width: 35%;
  height: 35vw;
  margin-left: 10%;
  margin-top: 5%;
  /*   display: grid; */
  align-items: center;
  background: rgba(212, 158, 32, 0.745);
  box-shadow: 1vw 1vw 1vw black;
  border-radius: 1.4vw;
  padding: 10px;
  /*   border-style: solid;
  border-width: 2px; */
}

.perro {
  width: 50%;
  height: 50%;
  border-radius: 10%;
  border-style: solid;
  border-width: 2px;
  margin-left: 25%;
}

.name {
  font-size: 30px;
  text-align: center;
}

.temp {
  font-size: 18px;
  text-align: center;
}

.height {
  font-size: 18px;
  text-align: center;
}

.weight {
  font-size: 18px;
  text-align: center;
}

.life_span {
  font-size: 18px;
  text-align: center;
}

.button {
  text-align: center;
  margin-top: 15px;
}

.buttonReg {
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  background-color: rgb(132, 198, 74);
}
