@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Radio+Canada:wght@500&display=swap");

.img {
  background-color: teal;
  width: 100%;
  background-image: url("../../img/200932.jpg");
  /*  display: grid; */
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.titulo {
  color: rgba(152, 40, 129, 0.913);
  /*   color:transparent; */
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-width: 2px;
  /*   -moz-text-stroke-color: #91babd; */
  -webkit-text-stroke-color: #ffffff;
  text-shadow: 7px 7px #ce31a7;
  font-size: 150px;
  margin-left: 15%;
}

.info {
  font-family: "Radio Canada", sans-serif;
  margin-left: 15%;
  margin-top: 50px;
  font-size: 28px;
  font-style: italic;
}

.button {
  font-size: 25px;
  font-weight: bold;
  border-radius: 50px;
  background: linear-gradient(
    to right,
    rgba(219, 17, 169, 0.959),
    rgba(152, 40, 129, 0.913)
  );
  color: white;
  cursor: pointer;
  transition: all 300ms;
  position: absolute;
  right: 100px;
  top: 80%;
  border: none;
  padding: 18px 70px;
  font-variant: small-caps;
}
.button:hover {
  background: #31e021;
  background-image: -webkit-linear-gradient(top, #31e021, #4ca84c);
  background-image: -moz-linear-gradient(top, #31e021, #4ca84c);
  background-image: -ms-linear-gradient(top, #31e021, #4ca84c);
  background-image: -o-linear-gradient(top, #31e021, #4ca84c);
  background-image: linear-gradient(to bottom, #31e021, #4ca84c);
  text-decoration: none;
}
